
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h1>Login para la Administracion </h1>
<div class="w3ls-login">
    <!-- form starts here -->
    <form action="/Account/Verify" method="post">
        <div class="agile-field-txt">
            <label>
                <i class="fa fa-user" aria-hidden="true"></i> Username :
            </label>
            <input type="text" name="User" placeholder=" " required="" />
        </div>
        <div class="agile-field-txt">
            <label>
                <i class="fa fa-lock" aria-hidden="true"></i> password :
            </label>
            <input type="password" name="Password" placeholder=" " required="" id="myInput" />
            <div class="agile_label">
                <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                <label class="check" for="check3">Show password</label>
            </div>
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("myInput");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>
        <!-- //script for show password -->
        <div class="w3ls-login  w3l-sub">
            <input type="submit" value="Login">
        </div>
    </form>
</div>
<!-- //form ends here -->
<!--copyright-->
<div class="copy-wthree">
    <p>
        &copy; @DateTime.Now.Year Deja de Ser Vago
    </p>
</div>
<!--//copyright-->
